<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Admin</title>
</head>
<body>
    <div class="box">
        <h2>Cadastro</h2>
        <form action="">
            <div>
                <label>Usuário</label>
                <div>
                    <input class="input" type="text" placeholder="Digite seu Usuário">
                </div>
            </div>
            <div>
                <label>Senha</label>
                <div>
                    <input class="input" type="text" placeholder="Digite sua Senha">
                </div>
            </div>
            <div>
                <button type="submit">
                    <strong>Cadastrar</strong>
                </button>
            </div>
        </form>
    </div>
</body>
</html>